@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
 
body{
     font-family: 'Nanum Gothic', cursive;
}
.title{
    position:fixed;
    z-index: 2;
    text-align: center;
    padding: 21px 10px;
    margin-left: 15px;
    background-color:#1F86CF;
    font-weight: 900;
    font-size:19px;
    color: white;
}
#menu{
    z-index: 1;
}
#menu ul{
    width: 560px;

    background-color: #BBBBBB;
    text-align: center;
    margin: 0;
    padding: 23px 0;
    position: relative;
    background-image: url('/symbol.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 45%;
}
ul.tabs li{
    display: inline-block;
    list-style-type:none;
	padding: 0 15px;
    text-align: center;
    font-size: 20px;
    font-weight:600;
}
ul.tabs span{
    padding: 5px 5px;
    cursor: pointer;
}
ul.tabs li.current span{
    color:#015591;
    font-weight: 800;
    border-bottom: #0066B3 3px solid;
}
a{
    text-decoration: none;
    color: black;
}
table{
    width: 400px;
    margin: 30px 30px;
}
th{
    width: 100px;
    height: 130px;
}
img {
    padding-top: 30px;
    padding-bottom: 1px;
}
a div{
    width: 120px;
    height: 130px;
    position: relative;
}
a div:hover{
    color: white;
    background-color: #0066B3;
}
#hov{
    position: absolute;
    display: none;
}
a div:hover #hov{
    display: inline-block;
}
p{
    font-size: 12px;
}

.tab-content{
    display: none;
}
.tab-content.current{
    display: inherit;
}